<template>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Aro</th>
                <th>Cor</th>
                <th>Fonte</th>
                <th>Observação</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, id) in list">
                <td>{{item.id}}</td>
                <td>{{item.rim}}</td>
                <td>{{item.color}}</td>
                <td>{{item.source}}</td>
                <td>
                    <small>{{item.observation}}</small>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: {
            list: {
                required: true
            }
        },
        created() {
            console.warn(this.list);
        }
    }
</script>

<style scoped>

</style>
