<template>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Código</th>
                <th>Localização</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, id) in list">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.code}}</td>
                <td> {{item.location}}</td>
            </tr>
            </tbody>
        </table>

    </div>
</template>

<script>
    export default {
        props: {
            list: {
                required: true
            }
        },
        data() {
            return {
                stationBikes: [],
            }
        },
        created() {
            console.log(this.list);
        },
        methods: {
            loadBikes(bikes) {
                this.stationBikes = bikes;
            }
        }
    }
</script>

<style scoped>

</style>
