<template>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Endereço</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, id) in list">
                <td>{{item.id}}</td>
                <td>{{item.email}}</td>
                <td>{{item.name}}</td>
                <td>{{item.phone}}</td>
                <td>
                    <small>{{`${item.address} - ${item.number}`}}</small>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: {
            list: {
                required: true
            }
        },
        created() {
            console.warn(this.list);
        }
    }
</script>

<style scoped>

</style>
